/* Global styles */

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.desktop-table {
  display: none;
}

@media (min-width: 768px) {
  .mobile-list {
    display: none;
  }

  .desktop-table {
    display: block;
  }
}
